<h1>Application</h1>
<% if !@application.errors.empty? %>
   <div class = "alert alert-error">
     <%= @application.errors.full_messages.first if @application.errors.any? %>
   </div>
<% end %>

<% if user_signed_in? %>
  <% if @application.save %>
    <h1>Thank you for applying!</h1>
  <% else %>
    <div class="well" align="left">
       <%= form_for @application, html: { multipart: true } do |f| %>
       <!-- <div class = "col-md-6"> -->
          <p><b> First Name </b><br /> <%= f.text_field :first_name %></p>
          <p><b> Last Name </b><br /> <%= f.text_field :last_name %></p>
          <p><b> Email </b> <br /> <%= f.text_field :email %></p>
          <!-- regex for email -->
          <p><b> Year </b> <br /> <%= f.text_field :year %></p>
          <p><b> Major(s) </b> <br /> <%= f.text_field :major %> </p>
          <p><b> GPA </b> <br id="note"> For freshman, put high school GPA  <br /> <%= f.text_field :gpa %> </p>
          <p><b> Technical GPA </b> <br /> <%= f.text_field :technical_gpa %> </p>
        <!-- </div> -->
        <!-- <div class="col-md-6"> -->
          <p><b> Commitments </b> <br /> <%= f.text_area :commitments %> </p>
          <p><b> Courses </b> <br /> <%= f.text_area :courses %> </p>
          <p><b> Describe the importance of the emerging biotech industry and its impact. </b> <br /> ~150 words <br /> <%= f.text_area :response_1 %> <br /></p>
          <p><b> LinkedIn </b> <br /> <%= f.text_field :linkedin %> </p>
          <p><b> Resume </b> <br /> <%= f.file_field :resume %> </p>
        <!-- </div> -->
        <br />
          <%= f.submit "Submit", class: "btn btn-primary" %>
       <% end %>
     </div>
  <% end %>
<% else %>
    <container>
    <img src="/images/Timeline.jpg" width=60%/>
  </container>
      <div class="jumbotron">
   <h1> Application Portal</h1>
   <p> Please Login to Continue</p>
  </div>
<% end %>
