<h1>Application</h1>
<% if !@application.errors.empty? %>
   <div class = "alert alert-error">
      <ul>
         <% @application.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>

   </div>
<% end %>

<% if user_signed_in? %>
  <% if @application.save %>
    <h1>Your application has already been submitted!</h1>
  <% else %>

    <div class = "well" align="left">
       <%= form_for @application, html: { multipart: true } do |f| %>
       <div class = "col-md-6">
          <div class="starred">
            <p><b> First Name </b><br /> <%= f.text_field :first_name %></p>
          </div>
          <div class="starred">
            <p><b> Last Name </b><br /> <%= f.text_field :last_name %></p>
          </div>
          <div class="starred">
            <p><b> Email </b> <br /> <%= f.text_field :email %></p>
          </div>
          <!-- regex for email -->
          <div class="starred">
            <p><b> Year </b> <br /> <%= f.text_field :year %></p>
          </div>
          <!-- dropdown menu -->
          <div class="starred">
            <p><b> Major(s) </b> <br /> <%= f.text_field :major %> </p>
          </div>
          <div class="starred">
            <p><b> GPA </b> <br id="note"> For freshman, inpit high school GPA  <br /> <%= f.text_field :gpa %> </p>
          </div>
          <p><b> Technical GPA </b> <br /> <%= f.text_field :technical_gpa %> </p>
        </div>
        <div class = "col-md-6">
          <div class="starred">
            <p><b> Commitments </b> <br /> <%= f.text_field :commitments %> </p>
          </div>
          <div class="starred">
            <p><b> Courses </b> <br /> <%= f.text_field :courses %> </p>
          </div>
          <div class="starred">
            <p><b> Describe the importance of the emerging bioech industry </b> <br /> ~150 words (soft cap) <br /> <%= f.text_field :response_1 %> <br /></p>
          </div>
          <!-- make last 4 fields bigger text boxes -->
          <p><b> LinkedIn </b> <br /> <%= f.text_field :linkedin %> </p>
          <div class="starred">
            <p><b> Resume </b> <br /> <%= f.file_field :resume %> </p>
          </div>
        </div>
          <div>
          <%= f.submit "Submit", class: "btn btn-primary" %>
       <% end %>
    </div>
  <% end %>
<% else %>
    <container>
    <img src="/images/timeline2.jpg" width=60%/>
  </container>
      <div class="jumbotron">
   <h1> Application Portal</h1>
   <p> Please Login to Continue</p>
  </div>
<% end %>
